.page-navigation {
    display: flex;
    padding: 1rem min(5rem, 5vw);
}

.page-navigation .app-link,
.country-page .app-link {
    border-radius: var(--border-radius);
    padding: var(--padding);
    min-width: 6rem;
    text-align: center;
}

.country-page {
    display: flex;
    align-items: center;
    gap: 4em;
    flex-wrap: wrap;

    padding: 1rem min(5rem, 5vw);
}

.country-page section {
    flex: 1 1 12rem;

    font-size: 1.1rem;
}

.country-page picture {
    width: min(42rem + 4vw, 90vw);

    box-shadow: 1px 1px 10px var(--shadow-color);
}

.country-name {
    line-height: 4.4rem;
    margin-bottom: 3rem;
    font-size: 4rem;
}

.country-info {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.country-borders {
    margin-top: 2.5em;
    line-height: 2rem;
}

.country-borders span {
    display: flex;
    align-content: start;
    gap: 0.6rem 0.5rem;

    flex: 1;
    flex-wrap: wrap;
}

