.app-header{
    background-color: var(--bg-element-color);

    display: flex;
    justify-content: space-between;
    align-content: baseline;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 2rem;
}

.theme-button {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    cursor: pointer;

    border: none;
    background: none;
}

.theme-icon {
    content: var(--theme-icon);
    font-size: 2rem;
    font-weight: 400;

    transform: rotate(-30deg);
}

.theme-text {
    content: var(--theme-text);
}