.app-header{
    background-color: var(--bg-element-color);

    display: flex;
    justify-content: space-between;
    align-content: baseline;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 2rem;
}

.theme-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;

    border: none;
    background: none;
}